<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload="bookcheck()">
    
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function bookcheck() {
        // var did = $(this).val();
        var ur = "{% url 'Artist:bookchecking' %}"
        const now = new Date();
        const min = now.getMinutes();
        const hour = now.getHours();
        // console.log(min);
        $.ajax({
            url: ur,
            data: { min: min, hour: hour},
            success: function (data) {
                // $("#sel_place").html(data);
                // alert(min)
            },
        });
    }
</script>