<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>#</td>
            <td>User Name</td>
            <td>Message</td>
        </tr>
        {% for i in chat %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.user_from.user_name}}</td>
            <td>{{i.chat_content}}</td>
            <td><a href="{% url 'Artist:chatpage' i.user_from.id %}">Chat</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>